@import '@/globalCSS/tokens/breakpoint.css';

:root {
    --company-logo-size: 7.5rem;
}

.companyLogo {
   width: var(--company-logo-size);
   height: var(--company-logo-size);
   border-radius: var(--company-logo-size);
}

.workExperience {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: var(--space-gap-md);
  padding: var(--space-md);
  margin-top:var(--space-xs);
  border:1px solid var(--color-border-hover);
  border-radius:0.5rem;
  box-shadow:0px 0px 5px 5px var(--color-fab-bg);
}

.topContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; 
  gap: var(--space-md);
}

.companyPosition {
  color:var(--color-text-secondary);
}

.leftAlign {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
}

.leftAlign>a {
  text-align:start;
}

.rightAlign {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-end;
  gap: var(--space-xs);
}

.responsibilitiesList {
  display: grid;
  gap: var(--space-sm);
  padding-left: var(--space-md);
}


.responsibilityItem {
  line-height: 1.6;
  font-size: var(--font-medium);
  color: var(--color-text-secondary);
  position: relative;
}

.duration {
      line-height:1.5em;
    }

.duration b {
    color:var(--color-primary);
}


.responsibilityItem::before {
  content: "▶";
  position: relative;
  transform: translateY(-50%);
  margin-right: 5px;
  color: var(--color-primary);
}

.chipContainer {
    position:absolute;
    right:var(--space-md);
    top:var(--space-md);
}



@media (--breakpoint-tablet) {
    .topContainer {
    grid-template-columns: 1fr;
    text-align: center; 
  }

    .workExperience img {
        float: none;
        position: relative;
    }

    .workExperience {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .workExperience ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .chipContainer {
        position: relative;
        right: auto;
        top: var(--space-md);
    }

    .rightAlign,.leftAlign {
        align-items: center;
    }

    
}
