/* FloatingNav.module.css */

.navbar {
  position: relative;
  top: var(--space-md);
  z-index: 1100;
}


.moreBtn:hover,
.moreBtn:focus {
  background: var(--color-fab-hover);
  outline: none;
  box-shadow:0 0 4px 2px #fff, 0 0 4px 4px lightgrey
}

.moreBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  color: var(--color-fab-icon);
  background-color: var(--color-border-hover);
  font-size: var(--font-xxlarge);
  box-sizing: border-box;
  transition: box-shadow 0.2s ease;
  will-change: transform;
  z-index: 1200;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);

}

.navbar .navlist {
  position:absolute;
  margin-top: var(--space-sm);
  background-color: var(--color-bg-secondary);
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  min-width: 60vw;
  left: 50%;
  transform: translateX(-50%);
}

.navlist li {
  padding: var(--space-sm);
}

.navlist li:hover {
 border-left:2px solid #fff;
}

.navlist li.active {
 border-left:2px solid #fff;
 font-weight:700;
}

.navlist li:hover a {
  color:var(--color-primary-hover);
}