@import '@/globalCSS/tokens/breakpoint.css';

@media (--breakpoint-tablet) {
  .Navigation { display: none; }
  .FloatingNav { display: block; }
}

@media (--breakpoint-not-mobile) {
  .Navigation { display: block; }
  .FloatingNav { display: none; }
}