@import '@/globalCSS/tokens/breakpoint.css';

.navbar {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  background-color: #0d1117;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navlist {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlist li {
  padding: var(--space-md);
}

.navlist li:hover {
  background-color:var(--color-fab-hover);  
   border-bottom:2px solid #fff;
}

.navlist li:active {
 border-bottom:2px solid #fff;
 font-weight:700;
}

.navlist li:hover a {
  color:var(--color-primary-hover);
}

@media (--breakpoint-desktop) {
  .navlist li {
    padding: var(--space-sm);
  }
}

@media (--breakpoint-tablet) {
  .navlist li {
    padding: var(--space-xs);
  }
}



