:root {
    --font-primary: 'Inter', sans-serif;
    --font-xxsmall:0.50rem;
    --font-xsmall:0.75rem;
    --font-small: 0.875rem;
    --font-medium: 1rem;
    --font-large: 1.25rem;
    --font-xlarge: 1.5rem;
    --font-xxlarge:2rem;
    --font-single-title:6rem;
}

body {
    font-family: var(--font-primary);
    font-display:swap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
